/* ----------------Configuraciones generales------------------ */

* {
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------------- */
/* ? --------------------------Cabecera-----------------------*/

header {
    text-align: center;
    background-color: #C884F0;
    color: black;
    height: 100px;
}

.header__buttons {
    margin: 20px 20px;
}

.header__btn {
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.header__btn:hover {
    cursor: pointer;
    opacity: 0.5;
    color: black;
}

.header__btn--start {
    background-color: #E56499;
}

.header__btn--stop {
    background-color: #E56499;
}

.header__btn--clear {
    background-color: #E56499;
}

.header__btn--next {
    background-color: #E56499;
}

/* ? ----------------------------------------------------------- */

/* TODO: ------------------------Contenido Principal---------------------- */

#gameBoard {
    display: grid;
    justify-content: center;
    background-color: #c6c7ad;
}

.cell {
    border: 1px solid #ccc;
    background-color: white;
}

.cell.live {
    background-color: black;
}

/* TODO: ------------------------------------------------------------------ */